*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# WLObs-server files
WLObs-server/.idea/
WLObs-server/.gradle/
WLObs-server/build/
WLobs-server/src/main/resources/application.properties

# WLOBS-mobile files
WLObs-mobile/.idea/
WLObs-mobile/.gradle/
WLObs-mobile/.build/
WLObs-mobile/*.iml
WLObs-mobile/local.properties
WLObs-mobile/captures/
WLObs-mobile/.DS_Store/